# Visual Studio
*.db
*.opendb
*.vcproj
*.vcxproj
*.vcxproj.user
*.vcxproj.filter
*.vcxproj.filters
*.sln

# built binaries and debug info
bin
obj
*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.dll
*.exe
*.pdb
*.ilk
*.exp
*.idb
*.dSYM/
/test
/example
/soak
/stats
/fuzz
/fuzz_target
/fuzz_target_standalone

# cmake generated build files (any generator, in-source or out)
build/
build-*/
cmake-build-*/
CMakeFiles/
CMakeScripts/
CMakeCache.txt
CMakeLists.txt.user
CMakeUserPresets.json
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
DartConfiguration.tcl
compile_commands.json
Testing/
_deps/
_CPack_Packages/
CPackConfig.cmake
CPackSourceConfig.cmake
Makefile
build.ninja
rules.ninja
.ninja_deps
.ninja_log
*.xcodeproj/
reliable.pc

# Misc
*.txt
!CMakeLists.txt
*.7z
*.zip
*.tar.gz

# Sublime text
*.sublime-project
*.sublime-workspace

# Directories we don't ever want to commit
ipch
Debug
release
Release
Secure
.vs
cov-int
docs
